* {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.justify {
    justify-content: center;
}

.spaceeven {
    justify-content: space-evenly;
}

.spacebw {
    justify-content: space-between;
}

.align {
    align-items: center;
}

a {
    text-decoration: none;
}

.red:hover {
    color: red;
    opacity: 1;
}

.redtxt {
    color: red;
}

.colorblack {
    color: #100c0c;
}

.bar {
    height: 14px;
    width: 2px;
    background-color: #FFFFFF;
}

a,
i,
h2 {
    color: #FFFFFF;
}

.block {
    display: block;
    border: none;
}

.textalign {
    text-align: center;
}

.black {
    height: fit-content;
    background-color: black;
}

.column {
    flex-direction: column;
}

.grid {
    display: grid;
}

.gold {
    color: #ac865e;
}

.lefttext {
    text-align: left;
}

.head {
    padding-top: 110px;
    font-family: georgia;
    font-size: 35px;
}

.column {
    flex-direction: column;
}

.inputs {
    height: 50px;
}

.sysui {
    font-family: system-ui;
}

.icon {
    opacity: 1;
    color: black;
}

.centerback {
    background-position: center;
    background-size: cover;
}


.space10px {
    height: 10px;
}